.button {
    cursor: pointer;
    background-color: #fff;
    border: solid 1px #111;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
}